<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <ul class="mt-2 nav nav-tabs d-flex">
    <li class="nav-item">
      <a class="nav-link" [translate]="'Internships.Overview'" [routerLink]="['general']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [translate]="'Internships.Candidates.Many'" [routerLink]="['candidates']"
        [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="!model && !isLoading">
  <div class="text-center mt-4">
    <div class="icon-circle bg-gray-300 border-gray-100 mb-4"></div>
    <h4 class="font-3xl text-dark">{{ 'NotFound.Title' | translate }}</h4>
    <p class="font-lg text-dark">{{ 'NotFound.Description' | translate }}</p>
  </div>
</div>
