<div class="mt-4">
  <div class="row" *ngIf="hasEntityType === false">
    <div class="col-12 text-center">
      <div class="mt-4">
        <div class="icon-circle bg-warning border-gray-100"></div>
      </div>
      <div class="mt-4">
        <h4 class="font-3xl text-dark" [translate]="'Internships.CandidateFeatureUnavailable.Title'"></h4>
        <p class="font-lg text-dark" [translate]="'Internships.CandidateFeatureUnavailable.Message'"></p>
      </div>
    </div>
  </div>
  <ng-container *ngIf="hasEntityType === true">
    <div class="row">
      <div class="col-12" [ngVar]="{internshipID: internshipID}" #filter="ngVar">
        <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="table">
          <advanced-search>
            <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
              [(filter)]="filter.value"></app-advanced-search-form>
          </advanced-search>
        </app-advanced-table-search>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mt-3">
        <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Internships.Candidates.Many'"></span>
        </div>
        <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
          <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Internships.Candidates.One'"></span>
        </div>
      </div>
      <div class="pull-right ml-auto mr-3 mt-3">

        <div class="btn-group" *ngIf="this.table && this.table.selectable">
          <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
            class="btn btn-outline-indigo btn-lg" (click)="acceptAction()" type="button"
            [translate]="'Requests.Edit.accept'">
            Accept
          </button>
          <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
              class="dropdown-item" (click)="acceptAction()" [translate]="'Requests.Edit.accept'">Accept</button>
            <button [disabled]="!(this.table && this.table.selected && this.table.selected.length)"
              class="dropdown-item" (click)="rejectAction()" [translate]="'Requests.Edit.reject'">Reject</button>
            <div class="dropdown-divider"></div>
            <a *ngIf="recordsTotal > 0" download="{{title}}" class="dropdown-item universis-btn-export"
              href="javascript:void(0)">
              <span [translate]="'Export'"></span>
            </a>
            <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select
              all</button>
            <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear
              selection</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-4">
        <app-advanced-table #table (load)="onDataLoad($event)" [selectable]="true" [height]="600" [config]="config"
          [showfooter]="false"></app-advanced-table>
      </div>
    </div>
  </ng-container>

  <router-modal></router-modal>
</div>