<div>
  <div class="mt-2 row" *ngIf="lastError">
    <div class="alert alert-warning col-12" role="alert">
      <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span
      ><br />
      <small
        *ngIf="lastError.statusCode >= 0"
        [translate]="'E' + (lastError.statusCode || 500) + '.message'"
      ></small>
      <small *ngIf="lastError.statusCode == null">{{
        lastError.message
      }}</small>
    </div>
  </div>

  <div class="mt-1 mb-1">
    <span> {{'Settings.AttachSchemaInfo' | translate}} </span>
  </div>

  <div class="mt-3">
    <ngx-dropzone
      [multiple]="false"
      [accept]="'application/json'"
      (change)="onFileSelect($event)"
    >
      <ngx-dropzone-label style="z-index: 0" class="p-2">{{
        "Settings.AttachSchemaDropzone" | translate
      }}</ngx-dropzone-label>
      <ng-container *ngFor="let f of this.attachments">
        <ngx-dropzone-preview
          [file]="f"
          [removable]="true"
          (removed)="onFileRemove(f)"
        >
          <ngx-dropzone-label class="text-truncate">
            {{ f.name }}
          </ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ng-container>
    </ngx-dropzone>
  </div>
</div>
