<div class="row">
  <div class="col-6 mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.Registrations'"></span>
    </div>
  </div>  
  <div *ngIf="allowNewRegistration" class="col-6 mt-4 d-flex align-items-center">
    <div  class="float-right ml-auto">
      <a class="font-lg btn-toolbar text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'new'} }]" type="button">
        <span>+</span><span>&nbsp;</span> <span [translate]="'Registrations.CreateRegistrationAction.Title'"></span>
      </a>
    </div>
  </div>
  <div *ngIf="!allowNewRegistration" class="col-6 mt-4 d-flex align-items-center">
    <div class="float-right ml-auto">
      <a class="font-lg btn-toolbar text-indigo text-decoration-none" (click)="openDialog()"
        type="button">
        <span>+</span><span>&nbsp;</span> <span [translate]="'Registrations.CreateRegistrationAction.Title'"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 mr-3">
    <app-advanced-table [selectable]="false" #model [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
  </div>
</div>
<router-modal></router-modal>
