<universis-refresh-token></universis-refresh-token>
<header class="app-header navbar">
  <div class="nav navbar-nav" [ngClass]="applicationImage?'h-100':''">
    <button class="navbar-toggler d-md-none" type="button" appMobileSidebarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-block d-sm-none h-100" href="#"><img src="{{applicationImage}}"
                                                                                      class="sis-brand-logo mr-2 h-100" *ngIf="applicationImage" /><span class="sis-brand-bold">SIS</span></a>
    <a class="nav-item nav-link sis-brand pl-2 d-none d-sm-block h-100" href="#">
      <img src="{{applicationImage}}" class="sis-brand-logo mr-2 h-100" *ngIf="applicationImage" />
      <span class="h-100 align-middle"><span class="sis-brand-bold p">SIS</span> Administration</span>
    </a>
  </div>

  <ul class="nav navbar-nav departement-nav mr-4 mr-auto">
    <!-- on loading -->
    <li class="nav-item dropdown d-none d-md-block px-5" *ngIf="!model" dropdown placement="bottom right">
      <a class="nav-link dropdown-toggle text-dark text-decoration-none">
        <span>...</span>
        <i class="ml-2 fa fa-angle-down" ></i>
      </a>
    </li>
    <li class="nav-item dropdown" style="max-width: 30vw;" *ngIf="model" dropdown placement="bottom right">
      <ng-container *ngIf="activeDepartment">
        <!-- menu title -->
          <a href="#" class="nav-link dropdown-toggle text-decoration-none col-12 pl-2"
          title="{{activeDepartment?.name}}"
          (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <span class="text-left pr-2 w-100 d-inline-block" >
            <span class="text-truncate text-dark d-block">
              {{activeDepartment?.name }}
            </span>
            <span class="d-block small text-seconary">
              {{ activeDepartment.currentYear.alternateName }}
              -
              {{ 'Periods.' + activeDepartment.currentPeriod.alternateName + 'Long' | translate }}
            </span>
          </span>
        </a>
      </ng-container>
      <div class="navbar-nav-content dropdown-menu dropdown-menu-left" [collapse]="isCollapsed">
        <a class="close mr-2" (click)="isCollapsed = !isCollapsed"><i class="fa fa-times"></i></a>
        <div class="tab-content">
          <!-- sidebar menu -->
          <div class="departement-nav-sidebar border-right">
            <ul class="nav nav-tabs mt-2">
              <li *ngFor="let studyLevels of model | groupBy: 'studyLevel.id' | values ; let i = index; let first = first"
                  class="w-100 pl-3 py-2 text-break">
                <a data-toggle="tab" href="#tab{{studyLevels[0]?.studyLevel?.id}}" [ngClass]="first?'active':''" class="text-dark">
                  {{studyLevels[0]?.studyLevel?.name || 'Unknown' | translate}}
                </a>
              </li>
            </ul>
          </div>
          <!-- content -->
          <div class="departement-nav-content pl-0 pr-5">
            <div id="tab{{studyLevels[0]?.studyLevel?.id}}" [ngClass]="first?'active in show':''"
                 class="tab-pane fade font-xs mb-5"
                 *ngFor="let studyLevels of model | groupBy: 'studyLevel.id' | values ; let i = index; let first = first">
              <ul class="p-0 mb-auto overflow-hidden">
                <!-- search input -->
                <li class="list-unstyled mb-2"><input placeholder="{{'SearchDepartment' | translate}}" class="form-search border rounded w-100 p-2" type="text" [(ngModel)]="search[i]"></li>
                <!-- study level title -->
                <li class="list-unstyled"><span class="font-weight-bold">{{studyLevels[0]?.studyLevel?.name || 'Unknown' | translate}}</span></li>
                <div class="divider"></div>
                <!-- list of departemnts -->
                <li *ngFor="let department of studyLevels | filterBy: ['id','name']: (search[i] | trim) | slice:0:5;"
                    class="list-unstyled py-2">
                  <a (click)="changeDepartment(department); isCollapsed = !isCollapsed" [ngClass]="activeDepartment?.id===department.id?'font-weight-bold':''">
                    {{department?.id }} - {{department?.name }}
                  </a>
                </li>
                <!-- empty list -->
                <li class="list-unstyled" *ngIf="(studyLevels | filterBy: ['id','name']: (search[i] | trim) ).length === 0"><span>{{ 'NoMatchingDepartments' | translate }}</span> </li>
              </ul>
              <div *ngIf="studyLevels.length > 5 " class="position-absolute" style="bottom: 10px;">
                <span class="font-sm text-secondary"><i class="fa fa-info-circle mr-3"></i>{{ 'DepartmentMenuMore' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <ul class="nav navbar-nav d-sm-down-none">
    <li class="nav-item d-none">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-home"></i></a>
    </li>
    <!--User dropdown menu-->
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">0</span></a>
    </li>
    <app-spotlight></app-spotlight>
    <app-user-activity></app-user-activity>
    <li *ngIf="user" class="nav-item dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <span class="d-none d-lg-block">{{ user.name }}<i class="ml-2 fa fa-angle-down" ></i></span>
        <span class="d-block d-lg-none"><i class="ml-2 fa fa-user" ></i><i class="ml-2 fa fa-angle-down" ></i></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/profile']">
          <span [translate]="'ProfileLink'"></span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item"  [routerLink]="['/auth/logout']"><span [translate]="'LogoutLink'"></span></a>
      </div>
    </li>

    <!--Language switch dropdown menu-->
    <li *ngIf="currentLang" class="nav-item dropdown d-none d-md-block" dropdown placement="bottom right">
      <a class="nav-link" href="javascript:void(0)" role="button" aria-haspopup="true"
         aria-expanded="false" dropdownToggle>
        {{currentLang}}<i class="ml-2 fa fa-angle-down"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" *ngFor="let language of languages">
          <button class="dropdown-item" [disabled]="language===currentLang" type="button"
                  (click)="changeLanguage(language)">{{ "Languages." + language | translate:{id: language} }}</button>
        </li>
      </ul>
    </li>
  </ul>
</header>

<div class="app-body">
  <app-sidebar (click)="onMinimizeSidebar($event)" #appSidebar [display]="'lg'">
    <app-sidebar-nav  #appSidebarNav></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">

    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>

<footer class="app-footer d-none">
  <a href="http://coreui.io"></a> &copy; 2018 Universis Project
  <span class="float-right"></span>
</footer>
