<form class="mt-0">
    <div>

        <div class="row">
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="firstName">First Name</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="firstName" type="text" placeholder="Enter your first name" value="Chelsea">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="lastName">Last Name</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="lastName" type="text" placeholder="Enter your last name" value="Ross">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="jobTitle">Last Name</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="jobTitle" type="text" placeholder="Enter your job title" value="Accountant">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="email">Last Name</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="email" type="text" placeholder="Enter your email" value="c.ross@example.com">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="name">Address</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="name" type="text" placeholder="Enter address" value="Array Road 15">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="postalCode">Postal Code</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="postalCode" type="text" placeholder="Enter postal code" value="TD42001">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="city">City</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="city" type="text" placeholder="Enter city" value="Oxford">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="country">Country</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="country" type="text" placeholder="Enter country" value="United Kingdom">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group text-dark">
                    <label class="text-dark" for="phoneNumber">Phone Number</label>
                    <input disabled="disabled" class="form-control bg-white text-secondary" id="phoneNumber" type="text" placeholder="Enter phone number" value="2100000000">
                </div>
            </div>
        </div>
    </div>
</form>
