<div class="row">
        <div class="col-sm-12">
            <div id="advanced-form">
    
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline pb-1 pr-1 pl-1 pt-3 col">
                            <div class="form-group col-6">
                                <label class="pr-3" for="searchText" [translate]="'Students.Student'"></label>
                                <input [(ngModel)]="filter.student" spellcheck="false" type="text" id="searchText"
                                    name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Students.Name' | translate }}">
                            </div>
                            <div class="form-group col-6">
                                <label class="pr-3" for="searchText" [translate]="'Students.studyProgram'"></label>
                                <input [(ngModel)]="filter.studyProgram" spellcheck="false" type="text" id="searchText"
                                    name="searchText" class="form-control col text-left"
                                    placeholder="{{ 'Students.studyProgram' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline pt-1 pb-3 pl-1 pr-1 col">
                            <div class="form-group col-xl-3 col-md-6">
                                <most-data #studentStatusTypes [model]="'StudentStatuses'"></most-data>
                                <div class="d-flex flex-row w-100" *ngIf="studentStatusTypes.value">
                                    <label class="pr-3" for="selectBox" [translate]="'Students.Status'">Status</label>
                                    <select class="custom-select flex-grow-1 col-7" [(ngModel)]="filter.studentStatus">
                                        <option [value]="undefined" [translate]="'Students.Choose'"></option>
                                        <option *ngFor="let item of studentStatusTypes.value" [value]="item.alternateName"
                                            [translate]="'StudentStatuses.'+ item.alternateName"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6">
                                <most-data #academicYears [model]="'AcademicYears'" [top]="-1" [order]="'id desc'">
                                </most-data>
                                <div class="d-flex flex-row w-100" *ngIf="academicYears.value">
                                    <label class="pr-3" for="selectBox" [translate]="'Students.InscriptionYear'"></label>
                                    <select class="custom-select flex-grow-1 col-7" [(ngModel)]="filter.inscriptionYear">
                                        <option [ngValue]="undefined" [translate]="'Students.Choose'"></option>
                                        <option *ngFor="let item of academicYears.value" [ngValue]="item.id"
                                            [translate]="item.alternateName"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6">
                                <most-data #academicPeriods [model]="'AcademicPeriods'"></most-data>
                                <div class="d-flex flex-row w-100" *ngIf="academicPeriods.value">
                                    <label class="pr-3" for="selectBox" [translate]="'Students.inscriptionPeriod'"></label>
                                    <select class="custom-select flex-grow-1" [(ngModel)]="filter.inscriptionPeriod">
                                        <option [value]="undefined" [translate]="'Students.Choose'"></option>
                                        <option *ngFor="let item of academicPeriods.value" [value]="item.alternateName"
                                            [translate]="'Periods.' + item.alternateName">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xl-3 col-md-6">
                                <div class="d-flex flex-row w-100 justify-content-md-end">
                                    <label class="pr-3" for="searchText" [translate]="'Students.Semester'"></label>
                                    <input [(ngModel)]="filter.semester" spellcheck="false" type="number" id="searchText"
                                        name="searchText" class="form-control col-7 text-left"
                                        placeholder="{{ ('Students.TypeNumber') | translate }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    