<div>
  <h4 class="mb-3">Simple Form</h4>
  <div class="row">
    <div id="form1" class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="font-lg text-secondary" for="result">Result</label>
                <textarea class="form-control" id="result" rows="3"  placeholder="Message for the user"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="form-group">
                <label class="font-lg text-secondary" for="result">Attach files</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="form-control custom-file-input" id="filename" aria-describedby="filename" required name="filename" >
                    <label class="custom-file-label text-placeholder" for="filename">Select file</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-sm-12">
              <button class="btn btn-md text-light bg-success float-right px-4" type="submit">Send and Submit</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="mt-2 col-lg-12">
        <app-highlight-include [highlight]="'app/forms/components/simple-form/simple-form.component.html#form1'"></app-highlight-include>
    </div>
  </div>
</div>
