<div>
    <h4>Buttons</h4>
    <div id="buttons">
        <button type="button" class="btn btn-primary">Primary Button</button>
        <button type="button" class="btn btn-secondary">Secondary Button</button>
        <button type="button" class="btn btn-success">Success Button</button>
        <button type="button" class="btn btn-danger">Danger Button</button>
        <button type="button" class="btn btn-warning">Warning Button</button>
        <button type="button" class="btn btn-info">Info Button</button>
        <button type="button" class="btn btn-light">Light Button</button>
        <button type="button" class="btn btn-dark">Dark Button</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
    <div class="mt-4">
        <app-highlight highlight="'#buttons'"></app-highlight>
    </div>
    <h4>Rounded Buttons</h4>
    <div id="roundedButtons">
        <button type="button" class="btn btn-pill btn-primary">Primary Button</button>
        <button type="button" class="btn btn-pill btn-secondary">Secondary Button</button>
        <button type="button" class="btn btn-pill btn-success">Success Button</button>
        <button type="button" class="btn btn-pill btn-danger">Danger Button</button>
        <button type="button" class="btn btn-pill btn-warning">Warning Button</button>
        <button type="button" class="btn btn-pill btn-info">Info Button</button>
        <button type="button" class="btn btn-pill btn-light">Light Button</button>
        <button type="button" class="btn btn-pill btn-dark">Dark Button</button>
    </div>
    <div class="mt-4">
        <app-highlight highlight="'#roundedButtons'"></app-highlight>
    </div>

    <h4>Outline Buttons</h4>
    <div id="outlineButtons">
        <button type="button" class="btn btn-outline btn-primary">Primary Button</button>
        <button type="button" class="btn btn-outline btn-secondary">Secondary Button</button>
        <button type="button" class="btn btn-outline btn-success">Success Button</button>
        <button type="button" class="btn btn-outline btn-danger">Danger Button</button>
        <button type="button" class="btn btn-outline btn-warning">Warning Button</button>
        <button type="button" class="btn btn-outline btn-info">Info Button</button>
        <button type="button" class="btn btn-outline btn-light">Light Button</button>
        <button type="button" class="btn btn-outline btn-dark">Dark Button</button>
    </div>
    <div class="mt-4">
        <app-highlight highlight="'#outlineButtons'"></app-highlight>
    </div>

    <h4>Block Buttons</h4>
    <div id="blockButtons">
        <div class="row">
            <div class="col-lg-3"><button type="button" class="btn btn-block btn-primary">col-3</button></div>
            <div class="col-lg-3"><button type="button" class="btn btn-block btn-success">col-3</button></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <div class="mt-4">
        <app-highlight highlight="'#blockButtons'"></app-highlight>
    </div>

    <h4>Disabled Buttons</h4>
    <div id="disableState">
        <button type="button" class="btn btn-primary" disabled>Primary button</button>
        <button type="button" class="btn btn-secondary" disabled>Button</button>
    </div>
    <div class="mt-4">
        <app-highlight highlight="'#disableState'"></app-highlight>
    </div>

</div>
